// General
$tinyScreen: 325px;
$mobileScreen: 479px;
$smScreen: 767px;
$mdScreen: 991px;
$lgScreen: 992px;
$primaryGray: #333333;
$mainBackgroundColor: #d9d6ce;

// Tags
$tagOutlineColor: blue;
$tagBackgroundColor: #c8ebfa;

// Cards
$boxShadowColor: #292b29;
$cardBackgroundColor: white;