@import 'reset';
@import 'variables';
@import 'mixins';
@import './app/app.scss';

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: $mainBackgroundColor;
}

main {
  margin-top: 1em;
}

#root {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr;

  @include autoWidth(90%);
}

// Desktop
@media only screen and (min-width: $lgScreen) {
}

// Tablet
@media only screen and (max-width: $mdScreen) {
}

// Phablet
@media only screen and (max-width: $smScreen) {
  #root {
    grid-template-rows: 100px;
  }
}

@media only screen and (min-width: 602px) {
  #root {
    grid-template-rows: 65px;
  }
}

// Mobile
@media only screen and (max-width: $mobileScreen) {
  #root {
    grid-template-rows: 100px;
  }
}

// Mobile
@media only screen and (max-width: $tinyScreen) {
  #root {
    grid-template-rows: 125px;
  }
}
